
html, body {
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

body {
  /* background: url("../img/unsplash-blurred.jpeg");
  background-size: cover;
  background-position: center; */

  background: radial-gradient(ellipse at top, #efd6eb, transparent),
            radial-gradient(ellipse at right, #bce1f0, transparent),
            radial-gradient(ellipse at left, #bce1f0, transparent),
            radial-gradient(ellipse, rgb(255, 149, 0), transparent),
            radial-gradient(circle at 95% 5%, rgb(255, 212, 151), transparent);
}

body#public{
  background: radial-gradient(ellipse at top, #ffe4e4, transparent),
            radial-gradient(ellipse at right, #f8ffe6, transparent),
            radial-gradient(ellipse at left, #f4d2ff, transparent),
            radial-gradient(ellipse, rgb(255, 149, 0), transparent),
            radial-gradient(circle at 95% 5%, rgb(255, 212, 151), transparent);

}


/* radial-gradient(circle at 100%, rgb(247, 228, 214), rgb(221, 230, 255) 50%, rgb(255, 241, 241) 75%, rgb(169, 180, 225) 75%) */

.navbar {
  margin-bottom: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.row#calendar-actions {
  margin-bottom: 20px;
}

.bg-light {
  /* background-color: rgba(255,255,255, .5); */
  background-color: rgba(255,255,255, .5) !important;
}

.btn-outline-primary {
  border-color: #5fb5c2 !important;
  color: #3d7f89 !important;
}

.btn-outline-primary:hover {
  border-color: #5fb5c2 !important;
  background-color: #5fb5c2 !important;
  color: #fff !important;
}

#public .btn-outline-primary {
  border-color: #ff9565 !important;
  color: #e9743e !important;
}

#public .btn-outline-primary:hover {
  border-color: #ff9565 !important;
  background-color: #ff9565 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #3d7f89 !important;
  color: #fff !important;
  border: none !important;
}

.btn-primary:hover {
  border: none !important;
  background-color: #5fb5c2 !important;
  color: #fff !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 50px -20px #8773c1;
  margin: 2em;
  padding: 2em;
}

.form-group.row {
  margin-bottom: 20px;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group button {
  width: 120px;
  margin-right: .75rem;
}

#about-elevate {
  background-color: rgb(255, 255, 255, .5);
  padding: 40px;
}

/* .col-sm-10 {
  padding-right: 0;
} */