{% extends 'base.html' %}
{% block title %}Add an event{% endblock %}

{% block body %}
    
<h2>Add an event</h2>
<form action="/add-event" method="POST">

    <label for="title">Event Title</label>
    <br>
    <input type="text" name="title" required>
    <br><br>

    <label for="date">Date</label>
    <br>
    <input type="date" name="date" max="2022-12-31" required>
    <br><br>

    <label for="description">Description</label>
    <br>
    <textarea name="description" cols="40" rows="5"></textarea>
    <br><br>

    <label for="start-time">Start time</label>
    <br>
    <input type="time" name="start-time" required>
    <br><br>

    <label for="end-time">End time</label>
    <br>
    <input type="time" name="end-time" required>
    <br><br>
    
  <p>
    <input type="submit">
  </p>
</form>

{% endblock %}