{% extends 'base.html' %}
{% block title %}Project Elevate{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/evo-calendar.css" />

{% endblock %}

{% block body %}
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Elevate</a>
  <h1 id="page-title">Hi, {{current_user.fname}}!</h1>

  <p><a href='/logout'><button>Log out</button></a></p>

</nav>

  <div class="container-fluid">

    <div class="row">
      
      <div class="col-1"></div>
      
      <div class="col-10">
        <a href='/add-event'><button type="button" class="btn update-event btn-primary btn-sm">Create event</button></a>
        <a href='/sms'><button type="button" class="btn update-event btn-primary btn-sm">Send alert</button></a>
      </div>
      
      <div class="col-1"></div>

    </div>

    <div class="row">

      <div class="col-1"></div>
        
      <div class="col-10">

        <div id="evoCalendar" ></div>

      </div>

      <div class="col-1"></div>

    </div>

    </div>

  </div>


{% endblock %}