{% extends 'base.html' %}
{% block title %}Project Elevate{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/evo-calendar.css" />

{% endblock %}

{% block body %}
    
    <h1 id="page-title">{{current_user.fname}}'s home page</h1>
    
    <!-- <h3>Upcoming events:</h3>
    
    {% for event in events %}

        <h2>{{event.title}}</h2>
        <ul>
        {% for user in event.users %}
            <li>{{user.fname.title()}}</li>
        {% endfor %}
        </ul>
    
    {% endfor %} -->

    <p><a href='/add-event'><button>Create event</button></a></p>
    <p><a href='/logout'><button>Log out</button></a></p>
    <p><a href='/sms'><button>Send out alert</button></a></p>

    <!-- {{ cal|safe }} -->

    <div id="calendar-container" style="width: 900px; margin-left:auto; margin-right: auto;">
        <div id="evoCalendar"></div>
    </div>

    {#
    <!-- {% for i in range(5) %}
    <p>{{quotes[i]['q']}}</p>
    {% endfor %} -->
    #}
    
    <!-- <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script> -->


    
    

{% endblock %}