{% extends 'base.html' %}
{% block title %}Log in{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row h-100">

  <div class="col-md-5 col-xl-4" id="about-elevate">
    <h4>Welcome to Elevate</h4>
    <p>Cupcake ipsum dolor sit amet. Tootsie roll chocolate cake brownie pie halvah cupcake powder. Halvah candy dessert dessert tiramisu. Chocolate cake halvah gummies soufflé macaroon topping powder cupcake sweet. </p>
  </div>

  <div class="col-md-7">

    <div class="form-group row d-flex justify-content-center">

      <div class="col-10 col-sm-8 col-xl-6 form-container">
    
        <h2>Please sign in</h2>
        <form class="form-signin" action="/login" method="POST">
    
          <div class="form-group row g-0">
            <label for="email-field" class="row col-form-label">Email</label>
            <div class="row g-0">
              <input type="email" 
                     class="form-control input-lg email-address" 
                     id="email" 
                     placeholder="Email address" 
                     name="email" 
                     required
                     autofocus>
            </div>
          </div>
    
          <div class="form-group row g-0">
            <label for="password-field" class="row col-form-label">Password</label>
            <div class="row g-0">
              <input type="password" 
                     class="form-control input-lg password" 
                     id="password" 
                     placeholder="Password" 
                     name="password" 
                     required>
            </div>
          </div>
        
            <div class="form-group row justify-content-end">
              <button type="submit" class="btn update-event btn-primary">Sign in</button>
            </div>
          
          </form>
        </div>
    
    </div>

  </div>

</div>



{% endblock %}