{% extends 'base.html' %}
{% block title %}Shared Calendar{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/evo-calendar.css" />

{% endblock %}

{% block body %}
<body id="public">

  <nav class="navbar navbar-light bg-light">
    <a href="/"><img src="/static/img/logo.png" class="navbar-brand"></a>
    <h4>{{user.fname}} {{user.lname}}'s calendar</h4>
  </nav>
    
    <div id="calendar-container" style="width: 900px; margin-left:auto; margin-right: auto;">
        <div id="evoCalendar" class="orange" ></div>
    </div>

  </body>
    
{% endblock %}