{% extends 'base.html' %}
{% block title %}Project Elevate{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/evo-calendar.css" />

{% endblock %}

{% block body %}

<nav class="navbar navbar-light bg-light">
  <img src="static/img/logo.png" class="navbar-brand">
</nav>
    
    <div class="row">

      <h3 id="page-title" style="margin-top: 20px; margin-bottom: 30px; text-align: center; color: #6049a7">{{user.fname}} {{user.lname}}'s calendar</h3>

    </div>
    

    <div id="calendar-container" style="width: 900px; margin-left:auto; margin-right: auto;">
        <div id="evoCalendar" ></div>
    </div>
    
{% endblock %}